[submodule "Real-ESRGAN"]
	path = inference/sr/Real-ESRGAN
	url = https://github.com/luethan2025/Real-ESRGAN.git
[submodule "diffusers"]
	path = diffusers
	url = https://github.com/luethan2025/diffusers.git
